@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Poppins, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header.navbar {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 1rem;
  z-index: 999;
}

header.navbar .logo img {
  width: 150px;
}

header.navbar .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar .nav-list li {
  list-style-type: none;
}

header.navbar .nav-list li a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2 ease-in-out;
}

header.navbar .nav-list li:hover a {
  background-color: #087f5b;
  color: white;
}
/* End of Nav CSS */
main {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding: 2rem 4rem;
  flex: 1;
  display: flex;
  align-items: center;
}

main .content {
  flex: 1;
  display: flex;
  align-items: center;
}

main .content .description {
  flex: 1 1;
}

main .content .description .program-title {
  font-size: 3.5rem;
  margin-block: 1rem;
}

main .content .description .program-content {
  display: flex;
  gap: 1.5rem;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: stretch;
}

main .program-content div {
  padding: 1.5rem;
  width: 100%;
  border-radius: 12px;
  box-shadow: -1px 1px 10px 5px #bdbdbd;
}

main .content-section {
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 50px;
}

main .content .description .content-section p {
  line-height: 1.7rem;
  font: 1.2rem;
  flex-grow: 2;
}

main .content .description .content-section img {
  margin: auto;
  min-width: 300px;
  width: 350px;
  align-items: self-start;
}

main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}

main aside .social-media {
  height: 100%;
  display: flex;
}

main aside .social-media ul {
  padding: 1.5rem 1rem;
  margin: auto;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #087f5b;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

main aside .social-media li {
  list-style-type: none;
}

main aside .social-media li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  transition: all 0.1s ease-in-out;
}

main aside .social-media li a:hover {
  color: #38d9a9;
}
/* End of Main CSS */

footer {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 150px;
  background-color: #087f5b;
}

footer p {
  color: white;
  font-weight: bold;
  margin: auto;
  text-align: center;
}
/* End of Footer CSS */

/* Medium devices (landscape tablets, 768px and down) */
@media screen and (max-width: 810px) {
  header.navbar {
    flex-direction: column;
  }

  header.navbar .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }

  main {
    flex-flow: column wrap;
    padding: 1rem 3rem;
    width: 100%;
  }

  main .content {
    flex-direction: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2rem;
    width: 100%;
  }

  main .content .description .program-title {
    font-size: 3rem;
    width: 100%;
    flex-flow: column wrap;
  }

  main .content .description .program-content {
    font-size: 1rem;
    width: 100%;
    flex-flow: column wrap;
  }

  main .content .description .program-content .content-section {
    flex-flow: column wrap;
    width: 100%;
  }

  footer {
    width: 100%;
  }
}
